<% if @content.is_a? Hash %>
<dl>
<% @content.each do |k,v| %>
  <dt><%= k %></dt>
  <dd><%= v %></dd>
<% end %>
</dl>
<% elsif @content.is_a? Array %>
  <ul>
  <% @content.each do |row| %>
    <li>
      <%= row %>
    </li>
  <% end %>
  </ul>
<% elsif @content.is_a? String %>
  <div class="content">
  <%= @content %>
  </div>
<% end %>
